<div class="edit-profile">
	<h2>Edit profile</h2>
	<div class="edit-profile-form">
		<form ng-submit="vm.updateUser(vm.user)">
			<div class="input-group">
				<p>Email</p>
				<input type="email" ng-model="vm.user.email" class="form-control" placeholder="email">
				<p>{{vm.profile.firstName}}</p>

				<input type="text" ng-model="vm.user.firstname" class="form-control" placeholder="{{vm.profile.firstName}}">
				<p>{{vm.profile.lastName}}</p>
				<input type="text" ng-model="vm.user.lastname" class="form-control" placeholder="{{vm.profile.lastName}}">

				<p>{{vm.profile.gender}}</p>
				<select ng-model="vm.user.gender">
					<option value="male">{{vm.profile.male}}</option>
					<option value="female">{{vm.profile.female}}</option>
				</select>
				<p>{{vm.profile.age}}</p>
				<input type="number" ng-model="vm.user.age" class="form-control">

				<input type="text" ng-model="vm.user.userXbox" placeholder="{{vm.profile.xboxUsername}}" class="form-control">

				<input type="text" ng-model="vm.user.userPs" placeholder="{{vm.profile.psUsername}}" class="form-control">

				<input type="text" ng-model="vm.user.userSteam" placeholder="{{vm.profile.steamUsername}}" class="form-control">

				<input type="text" ng-model="vm.user.physicalAddress" placeholder="{{vm.profile.address}}" class="form-control">

				<!--<input type="text" ng-model="vm.user.country" class="form-control" placeholder="Country">  -->

				<p>{{vm.profile.showEvents}}:</p>
				<infinite-select data-tree="vm.locations"
								 data-selected-options-list="vm.selectedLocations"
								 data-config="vm.multiselectConfig"
								 data-ng-if="vm.multiselectConfig"
				></infinite-select>

				<input type="submit" value="save changes" class="btn btn-success">
			</div>
		</form>
	</div>
</div>


