<div class="brand-form">
	<form ng-submit="vm.login(vm.credentials)">
		<p>email</p>
		<input type="email"
					 ng-model="vm.credentials.email"
					 ng-change="vm.onInputChange()"
					 placeholder="{{vm.profile.yourEmail}}">
		<p>{{vm.profile.password}}</p>
		<input type="password"
					 ng-model="vm.credentials.password"
					 ng-change="vm.onInputChange()"
					 placeholder="{{vm.profile.yourPassword}}">
		<input type="submit" value="{{vm.profile.signIn}}">
		<div class="text-center">
			<a ui-sref="forgot-password"
				class="btn-link btn">
				Forgot password?
			</a>
		</div>
		<p class="text-center" data-ng-if="vm.error" data-ng-bind="vm.error"></p>
	</form>
</div>

