<div class="brand-form">
	<form ng-submit="vm.signUp(vm.credentials)">
		<p>email</p>
		<input type="email" data-ng-change="vm.onInputChange"
					 ng-model="vm.credentials.email"
					 placeholder="{{vm.profile.yourEmail}}"
					 required>
		<p>{{vm.profile.password}}</p>
		<input type="password" ng-model="vm.credentials.password" placeholder="{{vm.profile.yourPassword}}" required>
		<p>{{vm.profile.confirmPasswordHere}}</p>
		<input type="password" ng-model="vm.credentials.passwordConfirmation" placeholder="{{vm.profile.passwordConfirmaiton}}" required>
		<p>{{vm.profile.address}}</p>
		<input type="text" ng-model="vm.credentials.physicalAddress" placeholder="{{vm.profile.address}}">

		<input class="placeholder-xbox" type="text" ng-model="vm.credentials.userXbox" placeholder="{{vm.profile.xboxUsername}}">

		<input class="placeholder-ps" type="text" ng-model="vm.credentials.userPs" placeholder="{{vm.profile.psUsername}}">

		<input class="placeholder-steam" type="text" ng-model="vm.credentials.userSteam" placeholder="{{vm.profile.steamUsername}}">
		<label class="brand-form-label">
			<input type="checkbox" class="brand-form-checkbox" required>
			<span>{{vm.profile.yearsOld}}</span>
		</label>


		<input type="submit" value="{{vm.profile.signUp}}">
	</form>
	<div class="error">
		<p class="text-center duplicate-error" data-ng-show="vm.duplicateError">
			This email already exists in the system!
		</p>
	</div>
</div>