<div class="container-fluid users-dashboard-view">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Users</span>
      <span>
        <input type="text" placeholder="Search by email..." data-ng-model="vm.userSearch">
      </span>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Role</th>
          <th>XBOX</th>
          <th>PS4</th>
          <th>Steam</th>
          <th>Physical address</th>
        </tr>
        <tr data-ng-repeat="user in vm.users | filter: vm.filter track by user.id">
          <td data-ng-bind="$index"></td>
          <td data-ng-bind="user.email"></td>
          <td data-ng-bind="user.role"></td>
          <td data-ng-bind="user.userXbox"></td>
          <td data-ng-bind="user.userPs"></td>
          <td data-ng-bind="user.userSteam"></td>
          <td data-ng-bind="user.physicalAddress"></td>
        </tr>
      </table>
    </div>
  </div>
</div>