<div class="event-ticket">
	<p ng-bind="vm.ticket.name"></p>
	<p>Price: <span ng-bind="vm.ticket.price"></span> $</p>
	<a data-ng-if="vm.ticket.price != 0 && !vm.ticket.notAvailable"
	   class="btn btn-sm btn-primary pull-right"
	   ui-sref="payment({ticketId: vm.ticket.id})"
	>Buy</a>
	<a data-ng-if="vm.ticket.notAvailable"
	   class="btn-warning btn-sm btn-primary pull-right"
	   ui-sref="home"
	>Sold out</a>
	<a data-ng-if="vm.ticket.price == 0"
	   class="btn-success btn-sm btn-primary pull-right"
	   ui-sref="payment({ticketId: vm.ticket.id})"
	>Free</a>
</div>