<div class="event-thumbnail">
	<div class="event-thumbnail-image">
		<img data-ng-src="{{vm.event.imageUrl}}" data-ng-if="vm.event.imageUrl">
		<img src="content/images/16x10_default.jpeg" data-ng-if="!vm.event.imageUrl">
	</div>
	<div class="event-thumbnail-title">
		<a ui-sref="event({'id': vm.event.id})"><h3 data-ng-bind="vm.event.name" id="event-title" title="{{vm.event.name}}"></h3></a>
	</div>
	<div class="event-thumbnail-footer">
		<div class="pull-left">
			<img class="event-thumbnail-footer-img" data-ng-src="{{'/content/images/'+ vm.event.catMain +'.png'}}">
			<a ui-sref="events({id: vm.event.catId})"
			   data-ng-if="vm.event.catId"
			   id="event-thumbnail-cat-label"
			   data-ng-bind="vm.event.cat"
			></a>
		</div>


		<div data-ng-if="vm.event.date" class="event-thumbnail-date pull-right">
			<i class="fa fa-calendar-o" aria-hidden="true"></i>
			<span>{{vm.event.date | date : "dd MMMM &acuteyy"}}</span>
			<!--<span data-ng-bind="vm.formatEventDate()"></span>-->
		</div>
	</div>
</div>




