
<div class="sign-in-container">
  <div class="sign-in">
    <br><br>
    <div class="brand-form">
      <form ng-submit="vm.submit()">
        <p data-ng-bind="vm.profile.newPassword"></p>
        <input type="password" ng-model="vm.credentials.password" placeholder="{{vm.profile.yourPassword}}" required>
        <p>{{vm.profile.confirmPasswordHere}}</p>
        <input type="password" ng-model="vm.credentials.passwordConfirmation" placeholder="{{vm.profile.passwordConfirmaiton}}" required>
        <input type="submit" value="{{vm.profile.setPassword}}">
      </form>
    </div>
  </div>
  <div class="container-fluid" style="padding: 0;"><img src="content/images/background_registration.jpg" style="width:100%;"></div>
</div>




<div class="confirm-page">
  <div class="success-confirm text-center" data-ng-if="vm.success">
    <p>Set new password</p>
    <p>You are now able to <a ui-sref="sign.in">Login</a></p>
  </div>
</div>
