<div class="modal-header">
<!--  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
  <read-markup data-markup="vm.markup"></read-markup>
</div>
<div class="modal-body">
  <button class="btn btn-success" ng-click="vm.respond(true)">AGREE</button>
  <button class="btn btn-danger" ng-click="vm.respond(false)">DISAGREE</button>
</div>
<div class="modal-footer">
<!--  <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Close</button> -->
</div>